.answer {
  font-size: x-large;
  color: firebrick;
  font-style: italic;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.jumbotron {
  background-color: rgba(166, 7, 7, 0.875) ;
  font-family: cursive;
  font-style: normal;
  font-size 50px;
}

h2 {
  font-size: x-large;
  font-style: italic;
  
}

img {
  height: auto;
  width: 278px;
  border:30px black;
  float: right;
}

h1 {
  padding:2px;
}
.card {
  padding: 20px;
}

.btn {
  background-color: #555555;
  color: whitesmoke;
  font-size: 18px;
  border-radius:5%;
}